* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 200px;
  background-color: #16161a;
  margin-top: 50px;
  border-radius: 20px;
}

.form button {
  width: 200px;
  padding: 10px 6px;
  background-color: #2cb67d;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 5px;
}

.input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  height: 150px;
}
.input input {
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 20px;
  margin-left: 100px;
  border-radius: 10px;
  outline: none;
  height: 60px;
  width: 250px;
  padding-left: 30px;
}
.card {
  border: 2px solid rgb(102, 102, 102);
  border-radius: 15px;
  margin: 50px;
  padding: 10px;
  height: 250px;
  width: 650px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #16161a;
  color: #fffffe;
}
.button {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#edit {
  background-color: #2cb67d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 45px;
  border-radius: 10px;
}
#edit:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  cursor: pointer;
}

#del {
  background-color: #f45d48;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 45px;
  border-radius: 10px;
}
#del:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
