@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --body-bg-color: #16161a;
  --card-bg-color: #242629;
  --text-color: #fffffe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-bg-color);
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 5rem;
  font-weight: bold;
  padding: 2rem;
  min-width: 12.5vw;
  box-shadow: 0 5px 15px -10px #000;
}

.key {
  color: var(--text-color);
  font-size: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg-color: #e3f6f5;
    --card-bg-color: #fffffe;
    --text-color: #272343;
  }
}
