* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1 {
  text-align: center;
  margin: 1rem;
}

.App .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.App .template {
  width: 33.333%;
  min-width: 400px;
  border: 10px solid transparent;
}

.App .template .image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.App .meme {
  text-align: center;
}

.App .meme img {
  width: auto;
  height: 500px;
  border: 1px solid black;
}

.App .meme input {
  margin: 10px;
  padding: 5px;
}

.App .meme button {
  margin: 10px;
  padding: 5px 15px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fffffe;
  background-color: #6246ea;
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px;
}

.App .meme button:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
}

.App .meme button:active {
  transform: scale(0.98);
}
