@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.25;
}

input {
  display: none;
}

label {
  margin: 0;
  padding: 0px 10px 0px 10px;
  background: #de4738;
}

input:checked ~ label {
  background: white;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

:root {
  --background-color: #fffffe;
  --color: #181818;
}
body {
  background-color: var(--background-color);
  color: var(--color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #16161a;
    --color: #fffffe;
  }
}
